---
title: Signal Processing for Media Applications
layout: homelay
permalink: /
---

<p>
    The Signal Processing for Media Applications (Sigmedia) Group is a research group in the
    <a href="https://tcd.ie/eleceng">Department of Electronic and Electrical Engineering</a>
    at <a href="https://tcd.ie/">Trinity College Dublin</a>.
</p>

<h2>Research</h2>
<p>
    We explore problems that involve visual or audio digital media. Evolving from expertise in digital signal processing,
    we create solutions based on a healthy mix of statistics, probabilistic inference, and applied mathematics.
    The team operates in well-recognised domains: computer vision, image/video/audio processing, and speech and
    language understanding. There are three main themes:
</p>

<ul>
    <li>Digital Cinema and Restoration</li>
    <li>Video Compression and Streaming Pipelines</li>
    <li>Human Speech Communication</li>
</ul>

<!-- Research Themes Section -->
{% include research_themes.html %}

<p>
    We are well known for our work on cinema post-production. Our motion and visual enhancement technologies
    (in collaboration with <a href="https://foundry.com">Foundry</a>) were used around the world for film
    post production in movies like <em>The Matrix</em>, <em>Lord of the Rings</em>, <em>X-Men</em>,
    <em>Spider-Man</em>, and <em>Harry Potter</em>. This work was recognised by the
    <a href="https://www.oscars.org/sci-tech/ceremonies/2007">Academy of Motion Picture Arts and Sciences in 2007</a>
    with a Scientific and Engineering Oscar award.
</p>

<h2>Collaboration</h2>

{% include collaborations.html %}


<p>
    Sigmedia researchers have been involved with many EU projects over the years (i3dpost, MOUMIR, PRESTOSPACE)
    involving archives and broadcasters around Europe. We are currently involved in EU COST Actions IC1106 and IC1105.
    A number of our current projects are funded by Science Foundation Ireland, IRCSET, and Enterprise Ireland.
    We have collaborated closely with Industry, including Google/YouTube, DTS, Huawei, Lightstream Animation,
    and Foundry. The group has had a close association with Prof. Frank Boland's Audio, Acoustics and Music
    Research Group, with many joint projects.
</p>

