# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title:  Sigmedia - Signal Processing and Media Application
author: Sigmedia
email: your-email@domain.com
description: > # this means to ignore newlines until "baseurl:"
  Write an awesome description for your new site here. You can edit this
  line in _config.yml. It will appear in your document head meta (for
  Google search results) and in your feed.xml site description.
baseurl: ""
url: ""

google_analytics: ""

include:
  - _pages

sass_dir: ./_sass

plugins:
  - jekyll-sitemap
  - jekyll-seo-tag

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false
  parse_block_html: true # default for kramdown is false. This will enable using Markdown links

# Where things are 
source              : .
destination         : ./_site

detach              : false
show_dir_listing    : false
permalink           : date
paginate_path       : /page:num
timezone            : null
port                : 4000
host                : 127.0.0.1

collections:
  members:
    output          : true
    sort_by         : date
  # TODO: Fix the Layout before enabling.
  #blog:
  #  output          : true
  #  sort_by         : date
  # permalink       : /:collection/:date/:name