<!-- Define the bibtex sources -->
<bibtex src="{{ site.url }}/publis/2008.bib"></bibtex>
<bibtex src="{{ site.url }}/publis/2010.bib"></bibtex>
<bibtex src="{{ site.url }}/publis/2011.bib"></bibtex>
<bibtex src="{{ site.url }}/publis/2012.bib"></bibtex>
<bibtex src="{{ site.url }}/publis/2013.bib"></bibtex>
<bibtex src="{{ site.url }}/publis/2014.bib"></bibtex>
<bibtex src="{{ site.url }}/publis/2015.bib"></bibtex>
<bibtex src="{{ site.url }}/publis/2016.bib"></bibtex>
<bibtex src="{{ site.url }}/publis/2017.bib"></bibtex>
<bibtex src="{{ site.url }}/publis/2018.bib"></bibtex>
<bibtex src="{{ site.url }}/publis/2019.bib"></bibtex>
<bibtex src="{{ site.url }}/publis/2020.bib"></bibtex>
<bibtex src="{{ site.url }}/publis/2021.bib"></bibtex>
<bibtex src="{{ site.url }}/publis/2022.bib"></bibtex>


<!-- Search bar -->
<div class="bibtex_search_bar">
  <div>
    <select class="bibtex_search bibtex_generate_author" extra="first" search="author">
      <option value="">Search First Author</option>
    </select>
    <select class="bibtex_search bibtex_generate_author" search="author">
      <option value="">Search author</option>
    </select>
    <select class="bibtex_search bibtex_generate_year" search="year">
      <option value="">Search year</option>
    </select>
  </div>
  <br />
  <div>
    <button type="button" class="btn btn-default" onclick="reset()">Reset</button>
    <input type="text" class="bibtex_search form-control" id="searchbar" placeholder="Search publications">
  </div>
</div>


<!-- Main structure -->
<div class="bibtex_structure">
  <div class="group year" extra="DESC number">
    <h2 class="publi_section title" id="journal"></h2>
    <div class="section_content">
      <div class="templates"></div>
    </div>
  </div>
</div>

<!-- Define template for one item -->
<div class="bibtex_template">

  <!-- Reference formatting -->
  <div>
    <span class="author" max="5" style="font-weight: bold;"></span>,
    <span class="if title">"<span class="title"></span>",</span>
    <span class="if chapter">"<span class="chapter"></span>",</span>

    <span class="if journal">in <em><span class="journal"></span></em>,</span>
    <span class="if publisher"><em><span class="publisher"></span></em>,</span>
    <span class="if booktitle">In <em><span class="booktitle"></span></em>,</span>
    <span class="if address"><span class="address"></span>,</span>
    <span class="if month"><span class="month"></span>,</span>
    <span class="if year"><span class="year"></span>.</span>
  </div>

  <!-- Access bar -->
  <div>
    <a class="bibtexVar btn" href="#+BIBTEXKEY+" extra="BIBTEXKEY" rel="modal:open">
      <span class="iconify" data-icon="zondicons:book-reference" data-inline="false"></span>
    </a>
    <span class="if url">
      <a class="url bibtex_url">
        <span class="iconify" data-icon="ion:url" data-inline="false"></span>
      </a>
    </span>
    <span class="if doi">
      <a class="bibtexVar"  href="http://dx.doi.org/+DOI+" extra="doi">
        <span class="iconify" data-icon="ion:earth" data-inline="false"></span>
      </a>
    </span>
    <span class="if demo">
      <a class="bibtexVar"  href="+DEMO+" extra="demo">
        <span class="iconify" data-icon="ion:logo-github" data-inline="false"></span>
      </a>
    </span>
  </div>
  <div class="bibtexVar modal" id="+BIBTEXKEY+" extra="BIBTEXKEY">
    <pre class="src src-bibtex"><span class="bibtexraw noread"></span></pre>
  </div>
</div>

<div id="content">
  <!-- Display bibliography -->
  <div id="bibtex_display"></div>
</div>
