<!-- Define the bibtex sources -->
<bibtex src="{{ site.url }}/publis/2008.bib"></bibtex>
<bibtex src="{{ site.url }}/publis/2010.bib"></bibtex>
<bibtex src="{{ site.url }}/publis/2011.bib"></bibtex>
<bibtex src="{{ site.url }}/publis/2012.bib"></bibtex>
<bibtex src="{{ site.url }}/publis/2013.bib"></bibtex>
<bibtex src="{{ site.url }}/publis/2014.bib"></bibtex>
<bibtex src="{{ site.url }}/publis/2015.bib"></bibtex>
<bibtex src="{{ site.url }}/publis/2016.bib"></bibtex>
<bibtex src="{{ site.url }}/publis/2017.bib"></bibtex>
<bibtex src="{{ site.url }}/publis/2018.bib"></bibtex>
<bibtex src="{{ site.url }}/publis/2019.bib"></bibtex>

<div class="bib_navigation_bar">
  <ul>
    <li><a href="#2019">2019</a></li>
    <li><a href="#2018">2018</a></li>
    <li><a href="#2017">2017</a></li>
    <li><a href="#2016">2016</a></li>
    <li><a href="#2015">2015</a></li>
    <li><a href="#2014">2014</a></li>
    <li><a href="#2013">2013</a></li>
    <li><a href="#2012">2012</a></li>
    <li><a href="#2011">2011</a></li>
    <li><a href="#2010">2010</a></li>
    <li><a href="#2008">2008</a></li>
  </ul>
</div>

<div class="bibtex_structure">
  <div class="group year" extra="DESC number">
    <h2 class="publi_section title" id="journal"></h2>
    <div class="section_content">
      <div class="templates"></div>
    </div>
  </div>
</div>

<!-- Define template for one item -->
<div class="bibtex_template">
  <!-- Author -->
  <div class="if author" style="font-weight: bold;">
    <span class="author" max="5"></span>
  </div>

  <div>
    <!-- Title -->
    <span class="title"></span>
  </div>
  <div>
    <a class="bibtexVar btn" href="#+BIBTEXKEY+" extra="BIBTEXKEY" rel="modal:open">
      <span class="iconify" data-icon="zondicons:book-reference" data-inline="false"></span>
    </a>
    <span class="if url">
      <a class="url bibtex_url">
        <span class="iconify" data-icon="ion:url" data-inline="false"></span>
      </a>
    </span>
    <span class="if doi">
      <a class="bibtexVar"  href="http://dx.doi.org/+DOI+" extra="doi">
        <span class="iconify" data-icon="ion:earth" data-inline="false"></span>
      </a>
    </span>
    <span class="if demo">
      <a class="bibtexVar"  href="+DEMO+" extra="demo">
        <span class="iconify" data-icon="ion:logo-github" data-inline="false"></span>
      </a>
    </span>
  </div>
  <div class="bibtexVar modal" id="+BIBTEXKEY+" extra="BIBTEXKEY">
    <pre class="src src-bibtex"><span class="bibtexraw noread"></span></pre>
  </div>
</div>

<div id="content">
  <!-- Display bibliography -->
  <div id="bibtex_display"></div>
</div>
