{% comment %}
Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

1. Head over to https://realfavicongenerator.net/ to add your own favicons.
2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}

<style>
 .bibtexentry {
   margin-top: 0.2em;
   margin-bottom: 02em;
 }

 .url {
   background: url('https://api.iconify.design/il:url.svg') no-repeat center center / contain;
 }
</style>

<!-- Scripts mainly for the publication part -->
<script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/pcooksey/bibtex-js/src/bibtex_js.js"></script>

<!-- Remember to include jQuery :) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

<!-- jQuery Modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

<!-- Override modal max-width -->
<style>
 .modal { max-width: 90%; }
</style>

<script type="text/javascript">
 function toggle(id) {
   var e = document.getElementById(id);
   if(e.style.display == 'block')
     e.style.display = 'none';
   else
     e.style.display = 'block';
 }

 function togglebio(x) {
   var e = x.nextSibling;
   console.log(e)
   if(e.style.display == 'block')
     e.style.display = 'none';
   else
     e.style.display = 'block';

 }
</script>
