<div id="footer" class="site-footer mt-5">
	<div class="mt-3">
		<div class="row d-flex">

			<div class="col-sm-6">
				<p class="font-weight-bold">{{ site.author }}</p>

				<ul class="list-unstyled list-inline">
					<li class="list-inline-item">
						<a href="https://u-paris.fr/en/498-2/">
							<img class="img-fluid" src="/assets/images/tcd_logo.png" style="max-height: 80px;">
						</a>
					</li>

			</div>

			<div class="col-sm-3">
				<p class="font-weight-bold">Links</p>
				<ul class="list-unstyled">
					<li><a href="https://github.com/sigmedia">Github</a></li>
				</ul>
			</div>

			<div class="col-sm-3">
				<p class="font-weight-bold">Contact</p>
				Electronic & Electrical Engineering, <br>
				Aras an Phiarsaigh, <br>
				Trinity College Dublin, <br>
				Dublin 2, Ireland, <br>
			</div>
		</div>

		<div class="footer-copyright text-center py-3">
			© 2022 {{ site.title }}
		</div>
	</div>
</div>
