<div class="research-themes">

    <div class="themes-container">
        <!-- Audio/Speech -->

        <div class="theme-box theme-audio">
            <h3>Human Speech Communication</h3>
        </div>

        <!-- Audio/Visual Overlap -->
        <div class="theme-box theme-overlap">
            <h3>Video Compression and Streaming Pipelines</h3>
        </div>

        <!-- Image/Video -->
        <div class="theme-box theme-video">
            <h3>Digital Cinema and Restoration</h3>
        </div>
    </div>
</div>
