---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Privacy Policy | Sigmedia">
  <div class="max-w-3xl mx-auto py-12">
    <article class="prose prose-blue dark:prose-invert max-w-none">
      <h1>Privacy Policy</h1>
      <p>This website uses cookies to enhance User Experience and Analytics.</p>
      <p>We do not collect any personal data for commercial purposes.</p>
    </article>
  </div>
</BaseLayout>
